*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
  }
.head-container{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px
}

.nav{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.links{
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding-right: 16px;
}
nav .logo{
    font-size: 24px;
    color: #F9FAF8;
}
.information img{
    border-radius: 10px;
    max-width:50%;
    height: 30vh;
    margin-left: 10px;
} 
.information{
    width: 900px;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
}
div .welcome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.text{
    font-size: 18px;
    color: #E5E7EB;
}
.signup{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    margin-top: 18px;
}

.knowus{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

