*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head-container{
    /* border: 4px solid red; */
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav{
    width: 900px;
    /* border: 4px solid blue; */
    display: flex;
    justify-content: space-between;

}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding-right: 16px;
}
nav .logo{
    font-size: 24px;
    color: #F9FAF8;
}
img{
    /* flex: 1;
    min-width: 0;
    min-height: 0; */
    width: 100px;
    height: 100px;
} 
.information{
    width: 900px;
    height: 300px;
    /* border: 4px solid green; */
    display: flex;
    align-items: center;
}
div .welcome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
div .text{
    font-size: 18px;
    color: #E5E7EB;
}
.signup{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
}
